<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='#'>Protected Page</a>
</nav>
<div style='margin-top: 30px'>
  <a class='btn btn-primary btn-lg active' href='/logout'>Logout</a>
  <a class='btn btn-primary btn-lg active' href='/newSchedule'>New Schedule</a>
  <a class='btn btn-primary btn-lg active' href='/mainpage'>Homepage</a>

  <h1>{{Title}}</h1>
  <div>
    {{#each schedules as |schedule|}}
      <p>day: {{schedule.day}}</p>
      <p>Start at: {{schedule.start_at}}</p>
      <p>End at: {{schedule.end_at}}</p>
    {{/each}}
  </div>

</div>